/************************ reset ************************/
/*الريسيت هو اننا بنصفر كل العناصر اللي مش هنحتاجها عشان منعدلش عليها كل شويه في المشروع*/
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}

/************************ global ************************/
/*بنفكر في اي استدعائات لو عندنا حاجه من برا هنجيبها و بعدين بنحط اي حاجه ممكن تتكرر*/
@font-face {
    font-family: Outfit;
    src: url(./fonts/Outfit-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Outfit;
    src: url(./fonts/Outfit-Regular.ttf);
    font-weight: 400;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
body {
    background-color: var(--Light-gray);
    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: var(--Dark-blue);
    font-size: 1.5em;
}
p {
    color: var(--Grayish-blue);
}
/************************ main ************************/
/*احنا كدا نبدا نبص ع المشروع بتاعنا و نبدا نصممه*/
main {
    background-color: var(--White);
    width: 87%;
    padding: 1em;
    border-radius: 0.625em;
    box-shadow: 0 2px 8px 1px var(--Grayish-blue) ;
}
main img {
    border-radius: 0.325em;
}
main h1 {
    margin: 0.7em 0;
}
main p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
/*footer*/
footer {
    margin-top: 1em;
    width: 87%;
}
/************************ media query ************************/
/*لو هنعمل المشروع بتاعنا متجاوب مع كل الشاشات*/
@media screen and (min-width: 600px){
    main {
        width: 60%;
    }
}    
@media screen and (min-width: 992px){
    main {
        width: 25%;
    }
}
 
